<template>
  <div class="fit flex-col justify-evenly items-center">
    <digital-display-thermometer :value="temperature" />
    <digital-display-hygrometer :value="humidity" />
  </div>
</template>

<script setup lang="ts">
import { onUnmounted, ref } from 'vue';
import { Pin } from '../../common/firmata/response-define';
import { storeToRefs } from 'pinia';
import { PinMode } from '../../types';
import { Listener } from 'eventemitter2';

import DigitalDisplayThermometer from './digital-display-thermometer.vue';
import DigitalDisplayHygrometer from './digital-display-hygrometer.vue';

import { usePortStore } from '../../stores/port.store';
import { useInterval, useIntervalFn, whenever } from '@vueuse/core';


interface Props {
  signalPin?: Pin;
  dhtModel?: number;
}
const props = withDefaults(defineProps<Props>(), {
  signalPin: undefined,
  dhtModel: undefined,
});

const portStore = usePortStore();
const { transceiver } = storeToRefs(portStore);

const temperature = ref<number>();
const humidity = ref<number>();

const { resume } = useIntervalFn(() => {
  if (!props.signalPin?.number || !props.dhtModel) return;

  transceiver.value?.addCmd('attach-dht-sensor', {
    model: props.dhtModel,
    pin: props.signalPin.number,
  });
}, 1000, {
  immediate: false,
});

whenever(() => props.signalPin && props.dhtModel,
  () => resume(),
  { deep: true, }
)

const listener = ref<Listener>();
listener.value = transceiver.value?.on('dht-data', (data) => {
  const datum = data.pop();

  temperature.value = datum?.temperature;
  humidity.value = datum?.humidity;
}, {
  objectify: true,
}) as Listener;

onUnmounted(() => {
  listener.value?.off();

  if (props.signalPin?.number) {
    transceiver.value?.addCmd('detach-dht-sensor', {
      pin: props.signalPin.number,
    });
  }
});

// setInterval(() => {
//   temperature.value = Math.ceil(Math.random() * 1000) / 10;
//   humidity.value = Math.ceil(Math.random() * 1000) / 10;
// }, 2000);
</script>

<style scoped lang="sass">
</style>
