<template>
  <div class="thermometer py-6 px-14 pr-16 flex items-end flex-nowrap ">
    <!-- <q-icon
      name="device_thermostat"
      color="green-4"
      size="8rem"
      class="icon"
    /> -->

    <seven-segment-display
      class=" mx-2"
      color="green-4"
      :value="numberList[0]"
    />
    <seven-segment-display
      class=" mx-2"
      color="green-4"
      :value="numberList[1]"
    />
    <div class=" rounded-full p-[0.35rem] bg-green-4" />
    <seven-segment-display
      class=" mx-2"
      color="green-4"
      :value="numberList[2]"
    />

    <div class="unit leading-none text-green-4 font-thin ">
      °C
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed } from 'vue';
import { isNil } from 'remeda';

import SevenSegmentDisplay from '../seven-segment-display.vue';

interface Props {
  value?: number;
}
const props = withDefaults(defineProps<Props>(), {
  value: undefined,
});

/** 十位、個位、小數點後一位 */
const numberList = computed<
  [number | undefined, number | undefined, number | undefined]
>(() => {
  if (isNil(props.value)) {
    return [undefined, undefined, undefined];
  }

  return [
    Math.floor(props.value / 10),
    Math.floor(props.value % 10),
    Math.round((props.value % 1) * 10),
  ]
});
</script>

<style scoped lang="sass">
.thermometer
  position: relative
  overflow: hidden
  font-size: 3rem
  border-radius: 9999px
  transition-duration: 0.4s
  box-shadow: 4px 4px 14px rgba(#111, 0.1) 
  user-select: none

.icon
  position: absolute
  top: -2rem
  left: -2rem
  opacity: 0.1
  rotate: 15deg
  font-variation-settings:'FILL' 0, 'wght' 100, 'GRAD' -25, 'opsz' 20

.unit
  position: absolute
  bottom: 0rem
  right: 0.8rem
  font-size: 100%
  opacity: 0.2
</style>
