<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="cactuses">
    <img
      v-for="(cactus, i) in cactuses"
      ref="cactusRef"
      :key="cactus.key"
      class="cactus"
      :style="cactus.style"
      :class="classes"
      :src="cactus.src"
      @animationend="deleteCactus(i)"
    >
  </div>
</template>

<script setup lang="ts">
import { sample, random } from 'lodash-es';
import { computed, onBeforeUnmount, ref, watch } from 'vue';
import { promiseTimeout } from '@vueuse/core';
import { nanoid } from 'nanoid';
import { GameStatus } from './game-scene.vue';

import imgCactus01 from '../../assets/google-dino/cactus-1.png';
import imgCactus02 from '../../assets/google-dino/cactus-2.png';
import imgCactus03 from '../../assets/google-dino/cactus-3.png';
import imgCactus04 from '../../assets/google-dino/cactus-4.png';
import { mapNumber } from '../../common/utils';

interface Cactus {
  key: string;
  style: Record<string, string>;
  src: string;
}

interface Props {
  gameStatus?: string;
}
const props = withDefaults(defineProps<Props>(), {
  gameStatus: '',
});

const cactusTypes = [imgCactus01, imgCactus02, imgCactus03, imgCactus04];

const score = ref(0);
const cactuses = ref<Cactus[]>([]);
const timer = ref<number>();

const classes = computed(() => ({
  pulse: props.gameStatus === GameStatus.GAME_OVER,
}));

watch(() => props.gameStatus, (status) => {
  if (status === GameStatus.START) {
    start();
    return;
  }

  if (status === GameStatus.GAME_OVER) {
    over();
    return;
  }
}, { immediate: true });

onBeforeUnmount(() => {
  over();
});

function start() {
  timer.value = setInterval(async () => {
    await promiseTimeout(random(1000));
    addCactus();
  }, 1500);
}

function over() {
  clearInterval(timer.value);
}

function addCactus() {
  const src = sample(cactusTypes) ?? '';
  const animationDuration = mapNumber(score.value, 0, 1000, 2.4, 0.6);

  const cactus: Cactus = {
    key: nanoid(),
    style: {
      animationDuration: `${animationDuration}s`,
    },
    src,
  };

  cactuses.value.push(cactus);
}

function deleteCactus(index: number) {
  cactuses.value.splice(index, 1);
}

const cactusRef = ref<HTMLImageElement[]>([]);

defineExpose({
  /** 取出所有仙人掌 DOM */
  getDoms() {
    return cactusRef.value;
  },
})
</script>

<style scoped lang="sass">

.cactuses
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
.cactus
  position: absolute
  height: 70px
  bottom: 30px
  animation: move 2.5s forwards linear
  &.pulse
    animation-play-state: paused

@keyframes move
  0%
    right: 0%
    transform: translateX(100%)
  100%
    right: 100%
    transform: translateX(0%)
</style>