<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div class="clouds">
    <img
      v-for="(cloud, i) in clouds"
      :key="cloud.key"
      class="cloud"
      src="../../assets/google-dino/cloud.png"
      :style="cloud.style"
      :class="classes"
      @animationend="deleteCloud(i)"
    >
  </div>
</template>

<script setup lang="ts">
import { ref, onBeforeUnmount, watch, computed } from 'vue';
import { random } from 'lodash-es';
import { GameStatus } from './game-scene.vue';
import { mapNumber } from '../../common/utils';
import { nanoid } from 'nanoid';

interface Cloud {
  key: string;
  style: Record<string, string>;
}

interface Props {
  gameStatus?: string;
  score?: number;
}
const props = withDefaults(defineProps<Props>(), {
  gameStatus: '',
  score: 0,
});

const clouds = ref<Cloud[]>([]);

const timer = ref(0);

const classes = computed(() => ({
  pulse: props.gameStatus === GameStatus.GAME_OVER,
}));

watch(
  () => props.gameStatus,
  (status) => {
    if (status === GameStatus.START) {
      start();
      return;
    }
    if (status === GameStatus.GAME_OVER) {
      over();
      return;
    }
  },
  { immediate: true }
);

onBeforeUnmount(() => {
  over();
});

function start() {
  timer.value = setInterval(() => {
    addCloud();
  }, 1000);
}

function over() {
  clearInterval(timer.value);
}

function addCloud() {
  const animationDuration = mapNumber(props.score, 0, 1000, 3.2, 2.5);

  const cloud: Cloud = {
    key: nanoid(),
    style: {
      top: `${random(10, 50)}%`,
      animationDuration: `${animationDuration}s`,
    },
  };

  clouds.value.push(cloud);
}

function deleteCloud(index: number) {
  clouds.value.splice(index, 1);
}
</script>


<style scoped lang="sass">
.clouds
  position: absolute
  top: 0px
  left: 0px
  width: 100%
  height: 100%
  .cloud
    position: absolute
    width: 100px
    animation: move 3.2s forwards linear
    &.pulse
      animation-play-state: paused

  @keyframes move
    0%
      right: 0%
      transform: translateX(100%)
    100%
      right: 100%
      transform: translateX(0%)
</style>


