<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <div
    class="dino"
    :style="style"
  >
    <img
      ref="dinoRef"
      :src="imgSrc"
      class=" w-full"
    >
  </div>
</template>

<script setup lang="ts">
import { ref, watch, onMounted, onBeforeUnmount, computed } from 'vue';
import { gsap } from 'gsap';
import imgRun01 from '../../assets/google-dino/dino-run-1.png';
import imgRun02 from '../../assets/google-dino/dino-run-2.png';
import imgJump from '../../assets/google-dino/dino-jump.png';
import imgDie from '../../assets/google-dino/dino-die.png';
import imgSquat01 from '../../assets/google-dino/dino-squat-1.png';
import imgSquat02 from '../../assets/google-dino/dino-squat-2.png';
import { GameStatus } from './game-scene.vue';

interface Props {
  gameStatus?: string;
}
const props = withDefaults(defineProps<Props>(), {
  gameStatus: '',
});

const status = ref({
  jumping: false,
  squatting: false,
});

const imgSrc = ref(imgJump);
const timer = ref(0);
const yOffset = ref(0);

const gsapAni = ref<{
  jump?: gsap.core.Timeline;

}>({
  jump: undefined,
});

const style = computed(() => ({
  transform: `translateY(-${yOffset.value}px)`,
}));

watch(() => props.gameStatus, (newStatus) => {
  if (newStatus === GameStatus.START) {
    start();
  } else if (newStatus === GameStatus.GAME_OVER) {
    over();
  }
});

onMounted(() => {
  initGsapAni();
});

onBeforeUnmount(() => {
  over();
});

function start() {
  try {
    gsapAni.value.jump?.progress(0);
  } catch (error) {
    // 
  }

  status.value.jumping = false;
  status.value.squatting = false;

  timer.value = setInterval(() => {
    processSpriteImg();
  }, 150);
}

function over() {
  imgSrc.value = imgDie;
  clearInterval(timer.value);
  gsapAni.value.jump?.pause();
}

function processSpriteImg() {
  if (status.value.jumping) {
    imgSrc.value = imgJump;
    return;
  }

  if (status.value.squatting) {
    imgSrc.value = imgSrc.value === imgSquat01 ? imgSquat02 : imgSquat01;
    return;
  }

  imgSrc.value = imgSrc.value === imgRun01 ? imgRun02 : imgRun01;
}

function initGsapAni() {
  const jumpTimeline = gsap.timeline({
    onStart() {
      status.value.jumping = true;
    },
    onComplete() {
      status.value.jumping = false;
    },
  });
  const duration = 0.32;

  jumpTimeline
    .to(yOffset, {
      duration,
      value: 150,
      ease: 'power1.out',
    })
    .to(yOffset, {
      duration,
      value: 0,
      ease: 'power1.in',
    })
    .pause();

  gsapAni.value.jump = jumpTimeline;
}

function jump() {
  if (status.value.jumping) return;
  gsapAni.value.jump?.restart();
}

function setSquat(setStatus = true) {
  status.value.squatting = setStatus;
}

const dinoRef = ref<HTMLImageElement>();

defineExpose({
  getDom() {
    return dinoRef.value;
  },
  jump() {
    try {
      jump()
    } catch (error) {
      // 
    }
  },
  setSquat,
});
</script>


<style scoped lang="sass">
.dino
  position: absolute
  width: 80px
  bottom: 30px
  left: 30px
</style>


