<template>
  <div class="game-scene">
    <div class="ground" />
    <clouds
      ref="cloudsRef"
      :key="'clouds-' + gameId"
      :game-status="gameStatus"
      :score="score"
    />
    <cactuses
      ref="cactusesRef"
      :key="'cactuses-' + gameId"
      :game-status="gameStatus"
      :score="score"
    />
    <dino
      ref="dinoRef"
      :game-status="gameStatus"
    />
    <div class="scoreboard">
      {{ scoreboard }}
    </div>
    <div class="prompt-text">
      <template v-if="gameStatus === 'standby'">
        <div class="text-30px blink">
          按任意按鈕開始遊戲
        </div>
      </template><template v-if="gameStatus === 'gameOver'">
        <div class="text-34px mb-10px">
          GAME OVER
        </div>
        <div class="text-20px">
          按任意按鈕重新開始
        </div>
      </template>
    </div>
  </div>
</template>

<script  lang="ts">
export enum GameStatus {
  /** 等待開始 */
  STANDBY = 'standby',
  /** 遊戲開始 */
  START = 'start',
  /** 遊戲結束 */
  GAME_OVER = 'gameOver',
}
</script>

<script setup lang="ts">
import { ref, watch, onBeforeUnmount, computed } from 'vue';
import { Button } from '../../electronic-components/button';
import { PinMode } from '../../types';
import { storeToRefs } from 'pinia';
import { Pin } from '../../common/firmata/response-define';
import { nanoid } from 'nanoid';

import Dino from './dino.vue';
import Clouds from './clouds.vue';
import Cactuses from './cactuses.vue';

import { usePortStore } from '../../stores/port.store';
import { PortTransceiver } from '../../common/port-transceiver';

const { INPUT_PULLUP } = PinMode;

interface Props {
  jumpPin?: Pin;
  squatPin?: Pin;
}
const props = withDefaults(defineProps<Props>(), {
  jumpPin: undefined,
  squatPin: undefined,
});

const portStore = usePortStore();
const { transceiver } = storeToRefs(portStore);

const gameId = ref('');
const gameStatus = ref(GameStatus.STANDBY);
const timer = ref(0);
const timeCounter = ref(0);
const score = ref(0);
const jumpButton = ref<Button>();
const squatButton = ref<Button>();

const dinoRef = ref<InstanceType<typeof Dino>>();
const cactusesRef = ref<InstanceType<typeof Cactuses>>();

const scoreboard = computed(() => `${score.value}`.padStart(5, '0'));
const pins = computed(() => [props.jumpPin, props.squatPin]);

watch(pins, ([jumpPin, squatPin]) => {
  // 所有腳位都設定完成才初始化
  if (!jumpPin || !squatPin) return;
  initBtns();
});

onBeforeUnmount(() => {
  over();
  jumpButton.value?.destroy?.();
  squatButton.value?.destroy?.();
});

function start() {
  if (gameStatus.value === GameStatus.START) {
    return;
  }

  gameId.value = nanoid();
  gameStatus.value = GameStatus.START;
  score.value = 0;
  timeCounter.value = 0;

  timer.value = setInterval(() => {
    tick();
  }, 10);
}

function over() {
  gameStatus.value = GameStatus.GAME_OVER;
  clearInterval(timer.value);
}

function tick() {
  timeCounter.value++;

  if (timeCounter.value % 10 === 0) {
    score.value++;
  }

  const cactuses = cactusesRef.value?.getDoms();
  const dino = dinoRef.value?.getDom();

  if (!cactuses || !dino) return;

  const isBump = cactuses.some((cactus: HTMLImageElement) => isOverlap(dino, cactus));
  if (isBump) {
    over();
  }
}

function isOverlap(dom01: HTMLImageElement, dom02: HTMLImageElement, tolerance = 20) {
  const dom01Rect = dom01.getBoundingClientRect();
  const dom02Rect = dom02.getBoundingClientRect();

  const dom01Left = dom01Rect.left + tolerance;
  const dom01Top = dom01Rect.top + tolerance;
  const dom01Right = dom01Left + dom01Rect.width - tolerance;
  const dom01Bottom = dom01Top + dom01Rect.height - tolerance;

  const dom02Left = dom02Rect.left + tolerance;
  const dom02Top = dom02Rect.top + tolerance;
  const dom02Right = dom02Left + dom02Rect.width - tolerance;
  const dom02Bottom = dom02Top + dom02Rect.height - tolerance;

  return (
    dom02Bottom > dom01Top &&
    dom02Right > dom01Left &&
    dom02Left < dom01Right &&
    dom02Top < dom01Bottom
  );
}

function initBtns() {
  if (!transceiver.value || !props.jumpPin || !props.squatPin) return;

  const mode = INPUT_PULLUP;

  jumpButton.value = new Button({
    pin: props.jumpPin,
    mode,
    transceiver: transceiver.value as PortTransceiver,
  })

  jumpButton.value.on('rising', () => {
    start();
    dinoRef.value?.jump();
  });

  squatButton.value = new Button({
    pin: props.squatPin,
    mode,
    transceiver: transceiver.value as PortTransceiver,
  })

  squatButton.value.on('toggle', (value) => {
    start();
    dinoRef.value?.setSquat(value);
  });
}
</script>


<style scoped lang="sass">
@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap')

.game-scene
  width: 100%
  height: 100%
  user-select: none
  font-family: 'DotGothic16', sans-serif
  .ground
    position: absolute
    bottom: 0px
    left: 0px
    width: 100%
    height: 50px
    border-top: 2px solid $grey-4

  .scoreboard
    position: absolute
    top: 20px
    right: 26px
    font-size: 26px
    letter-spacing: 2px

  .prompt-text
    position: absolute
    top: 46%
    left: 50%
    transform: translate(-50%, -50%)
    letter-spacing: 4px
    font-size: 30px
    user-select: none
    text-align: center

  .blink
    animation: blink 2s infinite steps(3)

@keyframes blink
  0%, 100%
    opacity: 1
  50%
    opacity: 0
</style>
