<template>
  <div
    ref="gameScene"
    class="w-[600px] h-[800px]"
  />
</template>

<script setup lang="ts">
import { onBeforeUnmount, onMounted, ref, watch } from 'vue';
import Phaser from 'phaser';
import { Pin } from '../../common/firmata/response-define';
import { JoyStick } from '../../electronic-components/joy-stick';
import { PortTransceiver } from '../../common/port-transceiver';
import { JoyStickGame } from '../../types/main.type';

import ScenePreload from './scenes/scene-preload';
import SceneWelcome from './scenes/scene-welcome';
import SceneMain from './scenes/scene-main';
import SceneOver from './scenes/scene-over';

import { usePortStore } from '../../stores/port.store';
import { useBoardStore } from '../../stores/board.store';
import { PinMode } from '../../types';

interface Props {
  xPin?: Pin;
  yPin?: Pin;
  btnPin?: Pin;
}
const props = withDefaults(defineProps<Props>(), {
  xPin: undefined,
  yPin: undefined,
  btnPin: undefined,
});

const portStore = usePortStore();
const boardStore = useBoardStore();

const gameScene = ref();
const game = ref<JoyStickGame>();

function createGame(parent: HTMLElement) {
  const game = new Phaser.Game({
    type: Phaser.WEBGL,
    width: 600,
    height: 800,
    parent,
    scene: [ScenePreload, SceneWelcome, SceneMain, SceneOver],
    backgroundColor: '#FFF',
    disableContextMenu: true,

    physics: {
      default: 'arcade',
      arcade: {
        debug: false,
      },
    },
  });

  return game;
}

function createJoyStick() {
  const { xPin, yPin, btnPin } = props;

  if (!xPin || !yPin || !btnPin) return;
  if (!boardStore.analogPinMap) return;
  if (!(portStore.transceiver instanceof PortTransceiver)) return;

  const joyStick = new JoyStick({
    btn: {
      pin: btnPin,
      mode: PinMode.INPUT_PULLUP,
    },
    xAxis: {
      pin: xPin
    },
    yAxis: {
      pin: yPin
    },
    analogPinMap: boardStore.analogPinMap,
    transceiver: portStore.transceiver,
  });

  return joyStick;
}

watch(() => props, ({ xPin, yPin, btnPin }) => {
  if (!gameScene.value) {
    console.error(`無法取得 gameScene DOM`);
    return;
  }

  if (!xPin || !yPin || !btnPin) return;

  game.value = createGame(gameScene.value);

  const joyStick = createJoyStick();
  game.value.joyStick = joyStick;
}, {
  deep: true
});

onBeforeUnmount(() => {
  game.value?.joyStick?.destroy();
  game.value?.destroy(true, true);
});
</script>