.opacity-enter-active, .opacity-leave-active
  transition-duration: 0.4s
.opacity-enter-from, .opacity-leave-to
  opacity: 0 !important

.fade-up
  &-enter-active, &-leave-active
    transition-duration: 0.4s
  &-enter-from, &-leave-to
    transform: translateY(10px) !important
    opacity: 0 !important

.fade-left
  &-enter-active, &-leave-active
    transition-duration: 0.4s
  &-enter-from, &-leave-to
    transform: translateX(10px) !important
    opacity: 0 !important

.fade-right
  &-enter-active, &-leave-active
    transition-duration: 0.4s
  &-enter-from, &-leave-to
    transform: translateX(-10px) !important
    opacity: 0 !important

.list-enter-active, .list-leave-active, .list-move
  transition-duration: 0.4s
  pointer-events: none
.list-enter-from, .list-leave-to
  opacity: 0 !important
  transform: translateY(30px) !important
.list-leave-active 
  position: absolute !important
