@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;500;600;700;800;900&display=swap')

.font-orbitron
  font-family: 'Orbitron'

.gradient-effect
  position: relative
  &::after
    content: ''
    background: linear-gradient(160deg, #ffffa1, #8abdff)
    mix-blend-mode: soft-light
    position: absolute
    left: 0
    top: 0
    bottom: 0
    right: 0
    opacity: 0.7
    pointer-events: none
  &.round
    &::after
      border-radius: 9999px

.q-notification
  .q-notification__message
    text-shadow: 0px 0px 4px rgba(#000, 0.8)
  .q-notification__wrapper
    &::before
      content: ''
      background: linear-gradient(160deg, #ffffa1, #8abdff)
      mix-blend-mode: soft-light
      position: absolute
      left: -16px
      top: 0
      bottom: 0
      right: -16px
      opacity: 1
      border-radius: 4px
      pointer-events: none
