<template>
  <div
    ref="windowRef"
    class="base-window rounded-2xl flex-col"
    :class="windowClass"
    :style="windowStyle"
    @touchstart.stop
    @contextmenu.stop
    @click.stop="handleClick"
  >
    <q-bar
      ref="barRef"
      class="header-bar"
    >
      <help-icon
        :url="props.helpUrl"
        :color="props.headerIconColor"
        size="1.6rem"
      />
      <q-space />
      <div class="title text-shadow">
        {{ title }}
      </div>
      <q-space />
      <q-btn
        icon="close"
        dense
        flat
        rounded
        color="grey-5"
        @click="handleClose"
      />
    </q-bar>
    <div
      class="body flex-1"
      :class="props.bodyClass"
    >
      <slot />
    </div>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { useDraggable } from '@vueuse/core';

import HelpIcon from './help-icon.vue';

import { useWindowStore } from '../stores/window.store';

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };

  /** slot 容器 class */
  bodyClass?: string;
  /** title bar 文字內容 */
  title?: string;
  /** title bar icon 顏色 */
  headerIconColor?: string;
  /** 文檔網址 */
  helpUrl: string;
  /** 視窗唯一 ID */
  id: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  bodyClass: '',
  title: '',
  headerIcon: 'dashboard',
  headerIconColor: 'blue-grey-4',
});

const windowStore = useWindowStore();

const windowRef = ref();
const barRef = ref();

const isFocus = computed(() => windowStore.focusedId === props.id);
const isMoving = ref(false);

const { style: dragStyle } = useDraggable(windowRef, {
  initialValue: props.initPosition,
  handle: barRef,
  onStart() {
    isMoving.value = true;
    windowStore.setFocus(props.id).catch(() => { });
  },
  onEnd() {
    isMoving.value = false;
  },
})

const windowStyle = computed(() => {
  const zIndex = windowStore.zIndexMap.get(props.id);

  return `${dragStyle.value}; z-index: ${zIndex}`
});
const windowClass = computed(() => {
  return {
    focused: isFocus.value,
    moving: isMoving.value,
  }
});

function focus() {
  windowStore.setFocus(props.id).catch(() => { });
}

function handleClick() {
  focus();
}

function handleClose() {
  windowStore.remove(props.id);
}

</script>

<style scoped lang="sass">
.base-window
  position: fixed
  min-width: 200px
  min-height: 100px
  overflow: hidden
  box-shadow: 0px 0px 10px rgba(#000, 0.1)
  background: rgba(white, 0.7)
  backdrop-filter: blur(4px)
  transition-duration: 0.4s
  &.focused
    background: rgba(white, 0.98)
    transform: translateY(-2px)
    box-shadow: 1.9px 1.9px 3.3px rgba(0, 0, 0, 0.02), 4.7px 4.7px 8px rgba(0, 0, 0, 0.028), 8.8px 8.8px 15px rgba(0, 0, 0, 0.035), 15.6px 15.6px 26.8px rgba(0, 0, 0, 0.042), 29.2px 29.2px 50.1px rgba(0, 0, 0, 0.05), 70px 70px 120px rgba(0, 0, 0, 0.07)

  &.moving
    transition: top 0s, left 0s, transform 0.5s, box-shadow 0.5s

  .header-bar
    height: auto
    padding: 20px
    padding-bottom: 14px
    cursor: move
    background: none
    color: $grey-8
    .title
      font-size: 14px
      user-select: none
      margin: 0px
      position: relative
      font-weight: 900
      transition-duration: 0.4s
      letter-spacing: 1px

  .body
    position: relative
</style>
