<template>
  <div class="flex flex-nowrap w-full">
    <div class="pin-number">
      <div>
        {{ pin.number }}
      </div>
      <q-btn
        class="bg-white"
        icon="delete"
        dense
        flat
        rounded
        color="grey-5"
        @click="handleDelete"
      />
    </div>
    <q-select
      v-model="selectedCapability"
      class="w-full"
      outlined
      dense
      rounded
      emit-value
      map-options
      :options="capabilityOptions"
      color="teal"
    />
    <q-toggle
      v-model="pinValue"
      color="teal-5"
      keep-color
      checked-icon="bolt"
      :disable="isToggleLock"
    />
  </div>
</template>

<script setup lang="ts">
import { computed, onBeforeUnmount, ref, watch } from 'vue';
import { Capability, DigitalData, Pin } from '../common/firmata/response-define';
import { getPinModeInfo } from '../common/firmata/firmata-utils';
import { usePortStore } from '../stores/port.store';
import { Listener } from 'eventemitter2';
import { findLast } from 'lodash-es';
import { getBitWithNumber } from '../common/utils';
import { PinMode } from '../types';

const { DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP } = PinMode;

interface Props {
  pin: Pin;
}
const props = withDefaults(defineProps<Props>(), {});

const emit = defineEmits<{
  (e: 'delete', pin: Pin): void;
}>();

const portStore = usePortStore();

const digitalModes = [
  DIGITAL_INPUT,
  DIGITAL_OUTPUT,
  INPUT_PULLUP,
];

/** 目前腳位狀態 */
const pinValue = ref(false);
watch(pinValue, (value) => {
  if (!portStore.transceiver) return;

  // 只有輸出模式才要設定數值
  if (selectedCapability.value?.mode === DIGITAL_OUTPUT) {
    portStore.transceiver.addCmd('set-digital-pin-value', {
      pin: props.pin.number,
      value,
    });
  }
});

/** 此腳位對應的 port 編號 */
const portNumber = computed(() => {
  const port = (props.pin.number / 8) | 0;
  return port;
});

function handleData(data: DigitalData[]) {
  // 取得最後一次數值即可
  const target = findLast(data, ({ port }) =>
    portNumber.value === port
  );

  if (!target) return;

  const { value } = target;

  const bitIndex = props.pin.number % 8;
  pinValue.value = getBitWithNumber(value, bitIndex);
}

/** 選擇腳位模式 */
const selectedCapability = ref<Capability>();
watch(selectedCapability, (value) => {
  if (!value) return;

  initPinMode(props.pin, value.mode);
});

const listener = ref<Listener>();
function initPinMode(pin: Pin, mode: PinMode) {
  if (!portStore.transceiver) return;
  if (!selectedCapability.value) return;

  portStore.transceiver.addCmd('set-mode', {
    pin: pin.number,
    mode,
  });

  // 數位輸入
  if ([INPUT_PULLUP, DIGITAL_INPUT].includes(mode)) {
    listener.value = portStore.transceiver.on('digital-data', handleData, {
      objectify: true,
    }) as Listener;
    return;
  }

  // 數位輸出
  if ([DIGITAL_OUTPUT].includes(mode)) {
    listener.value?.off?.();
    pinValue.value = false;
    return;
  }

  console.error(`[ initMode ] 未定義模式 : `, mode);
}
onBeforeUnmount(() => {
  listener.value?.off?.();
});

/** 指定 pin 可用的數位功能 */
const usableCapabilities = computed(() => {
  const capabilities = props.pin.capabilities.filter((capability) =>
    digitalModes.includes(capability.mode)
  );

  return capabilities;
});

/** 可用功能 options */
const capabilityOptions = computed(() => {
  return usableCapabilities.value.map((capability) => {
    const info = getPinModeInfo(capability.mode);

    return {
      label: info?.name ?? 'unknown',
      value: capability,
    };
  });
});

function handleDelete() {
  emit('delete', props.pin);
}

const isToggleLock = computed(() => {
  if (!selectedCapability.value) {
    return true;
  }

  // 只有 OUTPUT 模式可以使用
  if (selectedCapability.value.mode === DIGITAL_OUTPUT) {
    return false;
  }

  return true;
});
</script>

<style scoped lang="sass">
.pin-number
  width: 36px
  padding: 10px 0px
  margin-right: 10px
  font-family: 'Orbitron'
  color: $grey
  text-align: center
  position: relative
  &:hover
    .q-btn
      pointer-events: auto
      opacity: 1
  .q-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    transition-duration: 0.4s
    opacity: 0
</style>
