<template>
  <base-window
    :id="windowId"
    class="window-digital-io"
    header-icon-color="teal-3"
    body-class="flex flex-col p-5"
    :init-position="props.initPosition"
    help-url="https://codfish-210716.notion.site/f80b947c0f694cb38ae6247336cd3977?pvs=4"
    title="數位 I/O 功能"
  >
    <pin-select
      color="teal-3"
      :pins="supportPins"
      @selected="reservePin"
      @error="handleError"
    />

    <transition-group
      name="list"
      tag="div"
      class="relative"
    >
      <digital-io-item
        v-for="pin in usedPins"
        :key="pin.number"
        class="py-3"
        :pin="pin"
        @delete="unreservePin"
      />
    </transition-group>
  </base-window>
</template>

<script setup lang="ts">
import { getCurrentInstance } from 'vue';
import { PinMode } from '../types';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import DigitalIoItem from './digital-io-window-item.vue';

import { useQuasar } from 'quasar';
import { usePinManager } from '../composables/use-pin-manager';

const { DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP } = PinMode;

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const $q = useQuasar();

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);

const {
  usedPins,
  createPinList,
  reservePin,
  unreservePin,
} = usePinManager({ windowId });

/** 支援數位功能的腳位 */
const supportPins = createPinList([DIGITAL_INPUT, DIGITAL_OUTPUT, INPUT_PULLUP]);

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}
</script>

<style scoped lang="sass">
.window-digital-io
  width: 330px
  height: 440px
</style>
