<template>
  <base-window
    :id="windowId"
    :init-position="props.initPosition"
    title="範例視窗"
    help-url=""
  >
  </base-window>
</template>

<script setup lang="ts">
import { getCurrentInstance } from 'vue';

import BaseWindow from './base-window.vue';


interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);
</script>

<style scoped lang="sass">
</style>
