<template>
  <base-window
    :id="windowId"
    header-icon-color="light-green-4"
    body-class="flex flex-col p-5"
    :init-position="props.initPosition"
    help-url="https://codfish-210716.notion.site/MCU-Windows-13e6e7898da34935b066e715ebe54580?pvs=4"
    title="跑跑小恐龍"
    class=" w-[44rem] h-[26rem]"
  >
    <div class="h-full overflow-hidden">
      <!-- 遊戲場景-->
      <game-scene
        :jump-pin="jumpPin"
        :squat-pin="squatPin"
      />
      <!-- 設定欄位-->
      <transition name="fade-up">
        <div
          v-if="!isSettingOk"
          class="setting-form"
        >
          <div class="form-section rounded-xl shadow">
            <div class="form-item mb-20px">
              <q-icon
                class=" mr-3"
                name="gamepad"
                size="20px"
              />
              <div class="text-18px font-700">
                設定控制器
              </div>
            </div>

            <div class="form-item">
              <div class="text-16px w-100px">
                跳躍
              </div>
              <pin-select
                v-model="jumpPin"
                class="w-full"
                :pins="supportPins"
                color="light-green-4"
                placeholder="點擊選擇"
                @err="handleError"
              />
            </div>

            <div class="form-item">
              <div class="text-16px w-100px">
                蹲下
              </div>
              <pin-select
                v-model="squatPin"
                class="w-full"
                :pins="supportPins"
                color="light-green-4"
                placeholder="點擊選擇"
                @err="handleError"
              />
            </div>
          </div>
        </div>
      </transition>
    </div>
  </base-window>
</template>

<script setup lang="ts">

import { PinMode } from '../types';
import { getCurrentInstance, ref, watch } from 'vue';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import GameScene from './google-dino-window/game-scene.vue';

import { useQuasar } from 'quasar';
import { usePinManager } from '../composables/use-pin-manager';
import { Pin } from '../common/firmata/response-define';
import { useArrayEvery } from '@vueuse/core';
import { isTruthy } from 'remeda';

const { INPUT_PULLUP } = PinMode;

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const $q = useQuasar();

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);

const jumpPin = ref<Pin>();
watch(jumpPin, (newPin, oldPin) => {
  if (newPin) reservePin(newPin);
  if (oldPin) unreservePin(oldPin);
})

const squatPin = ref<Pin>();
watch(squatPin, (newPin, oldPin) => {
  if (newPin) reservePin(newPin);
  if (oldPin) unreservePin(oldPin);
})

const isSettingOk = useArrayEvery([jumpPin, squatPin], isTruthy);

const {
  createPinList,
  reservePin,
  unreservePin,
} = usePinManager({ windowId });

/** 支援腳位 */
const supportPins = createPinList([INPUT_PULLUP]);

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}

</script>


<style scoped lang="sass">
@import '../style/quasar-variables.sass'

.setting-form
  position: absolute
  top: 0%
  left: 0px
  width: 100%
  height: 100%
  padding: 20px
  background: rgba(white, 0.9)
  backdrop-filter: blur(4px)
  display: flex
  justify-content: center
  .form-section
    padding: 20px
    width: 50%

  .form-item
    display: flex
    align-items: center
    margin-bottom: 20px
</style>