<template>
  <q-icon
    name="help_outline"
    :size="props.size"
    :color="props.color"
    class=" cursor-help"
    @click.stop="openUrl"
  >
    <q-tooltip class=" text-base">
      點擊開啟說明文件
    </q-tooltip>
  </q-icon>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface Props {
  url: string;
  color?: string,
  size?: string;
}
const props = withDefaults(defineProps<Props>(), {
  size: '',
  color: 'blue-grey-4',
});

function openUrl() {
  window.open(props.url, '_bank');
}
</script>

<style scoped lang="sass">
</style>
