<template>
  <base-window
    :id="windowId"
    :init-position="props.initPosition"
    title="摩斯電碼發報器"
    class=" w-[40rem] h-[30rem]"
    header-icon-color="lime-4"
    help-url="https://codfish-210716.notion.site/MCU-Windows-677094c4455142fcb0dd436f24594855?pvs=4"
  >
    <transmitter-form
      :output-pin="outputPin"
      class=" fit"
    />

    <!-- 設定欄位-->
    <transition name="fade-up">
      <div
        v-if="!isSettingOk"
        class=" setting-form absolute inset-0 flex-center"
      >
        <div class=" flex-col rounded-xl shadow-md p-6 gap-4">
          <div class="flex items-center flex-nowrap gap-3">
            <q-icon
              class=""
              name="gamepad"
              size="20px"
            />
            <div class="text-18px font-700">
              設定控制器
            </div>
          </div>

          <div class="flex items-center flex-nowrap gap-3">
            <div class=" whitespace-nowrap">
              輸出腳位
            </div>
            <pin-select
              v-model="outputPin"
              class="w-full"
              :pins="supportPins"
              color="light-green-4"
              placeholder="點擊選擇"
              @err="handleError"
            />
          </div>
        </div>
      </div>
    </transition>
  </base-window>
</template>

<script setup lang="ts">
import { getCurrentInstance, ref, watch } from 'vue';
import { PinMode } from '../types';
import { isTruthy } from 'remeda';
import { Pin } from '../common/firmata/response-define';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import TransmitterForm from './morse-code-transmitter-window/transmitter-form.vue';

import { useArrayEvery } from '@vueuse/core';
import { usePinManager } from '../composables/use-pin-manager';
import { useQuasar } from 'quasar';


interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);
const $q = useQuasar();

const outputPin = ref<Pin>();
watch(outputPin, (newPin, oldPin) => {
  if (newPin) reservePin(newPin);
  if (oldPin) unreservePin(oldPin);
})

const isSettingOk = useArrayEvery([outputPin], isTruthy);

const {
  createPinList,
  reservePin,
  unreservePin,
} = usePinManager({ windowId });

/** 支援腳位 */
const supportPins = createPinList([PinMode.DIGITAL_OUTPUT]);

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}
</script>

<style scoped lang="sass">
.setting-form
  background: rgba(white, 0.7)
  backdrop-filter: blur(4px)
</style>
