<template>
  <base-window
    :id="windowId"
    class="window-pwm-output"
    header-icon-color="light-green-4"
    body-class="flex flex-col p-5"
    :init-position="props.initPosition"
    help-url="https://codfish-210716.notion.site/MCU-Windows-PWM-2d2be4e759e9469c9ffe6b05f9aa134f?pvs=4"
    title="PWM 輸出功能"
  >
    <pin-select
      class="mb-2"
      color="light-green-4"
      :pins="supportPins"
      @selected="reservePin"
      @error="handleError"
    />

    <transition-group
      name="list"
      tag="div"
      class="relative"
    >
      <pwm-output-item
        v-for="pin in usedPins"
        :key="pin.number"
        :pin="pin"
        @delete="unreservePin"
      />
    </transition-group>
  </base-window>
</template>

<script setup lang="ts">
import { getCurrentInstance } from 'vue';
import { PinMode } from '../types';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import PwmOutputItem from './pwm-output-window-item.vue';

import { useQuasar } from 'quasar';
import { usePinManager } from '../composables/use-pin-manager';

const { PWM } = PinMode;

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const $q = useQuasar();

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);

const {
  usedPins,
  createPinList,
  reservePin,
  unreservePin,
} = usePinManager({ windowId });

/** 支援腳位 */
const supportPins = createPinList([PWM]);

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}

</script>

<style scoped lang="sass">
.window-pwm-output
  width: 330px
  height: 440px
</style>
