<template>
  <div class="flex flex-nowrap items-center w-full">
    <div class="pin-number">
      <div class="text-xl">
        {{ pin.number }}
      </div>
      <q-btn
        class="bg-white"
        icon="delete"
        dense
        flat
        rounded
        color="grey-5"
        @click="handleDelete"
      />
    </div>
    <q-slider
      v-model="pinValue"
      class="mx-5"
      color="light-green-4"
      :min="0"
      :max="maxValue"
    />
    <q-knob
      v-model="pinValue"
      size="60px"
      show-value
      readonly
      color="light-green-4"
      track-color="grey-3"
      font-size="12px"
      :min="0"
      :max="maxValue"
    />
  </div>
</template>

<script setup lang="ts">
import { Listener } from 'eventemitter2';
import { findLast, throttle } from 'lodash-es';
import { computed, onBeforeUnmount, ref, watch, watchEffect } from 'vue';
import { AnalogData, Pin } from '../common/firmata/response-define';

import { useBoardStore } from '../stores/board.store';
import { usePortStore } from '../stores/port.store';
import { PinMode } from '../types';
import { watchThrottled } from '@vueuse/core';

interface Props {
  pin: Pin;
}
const props = withDefaults(defineProps<Props>(), {});

const emit = defineEmits<{
  (e: 'delete', pin: Pin): void;
}>();

const portStore = usePortStore();
const pinValue = ref(0);
watchThrottled(pinValue, (value) => {
  portStore.transceiver?.addCmd('set-pwm-value', {
    pin: props.pin.number,
    value,
  });
}, { throttle: 60 });

/** 從解析度計算得最大數值 */
const maxValue = computed(() => {
  const target = props.pin.capabilities.find(
    (capability) => capability.mode === PinMode.PWM
  );
  if (!target) return 0;

  return 2 ** target.resolution - 1;
});



function handleDelete() {
  emit('delete', props.pin);
}

function init() {
  if (!portStore.transceiver) return;

  portStore.transceiver.addCmd('set-mode', {
    pin: props.pin.number,
    mode: PinMode.PWM,
  });
}
init();
</script>

<style scoped lang="sass">
.pin-number
  width: 36px
  padding: 10px 0px
  margin-right: 10px
  font-family: 'Orbitron'
  color: $grey
  text-align: center
  position: relative
  &:hover
    .q-btn
      pointer-events: auto
      opacity: 1
  .q-btn
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    pointer-events: none
    transition-duration: 0.4s
    opacity: 0
</style>
