<template>
  <base-window
    :id="windowId"
    class=" w-[20rem] h-[24rem]"
    header-icon-color="light-green-4"
    body-class="flex flex-col"
    :init-position="props.initPosition"
    help-url="https://codfish-210716.notion.site/MCU-Windows-PWM-2d2be4e759e9469c9ffe6b05f9aa134f?pvs=4"
    title="RGB 調色盤"
  >
    <div class="w-full h-full overflow-hidden">
      <transition name="opacity">
        <color-ball
          v-if="isSettingOk"
          v-model="colorValue"
        />
      </transition>

      <!-- 腳位設定 -->
      <transition name="opacity">
        <div
          v-if="!isSettingOk"
          class=" flex-col gap-5 p-5"
        >
          <div>
            設定 RGB LED 腳位
          </div>

          <div class="flex flex-nowrap items-center gap-2">
            <q-icon
              name="emoji_objects"
              color="red-5"
              size="2rem"
            />
            <pin-select
              v-model="ledPins[0]"
              :pins="supportPins"
              class="w-full"
              color="red-2"
              placeholder="點擊選擇"
              @err="handleError"
            />
          </div>
          <div class="flex flex-nowrap items-center gap-2">
            <q-icon
              name="emoji_objects"
              color="green-5"
              size="2rem"
            />
            <pin-select
              v-model="ledPins[1]"
              :pins="supportPins"
              class="w-full"
              color="green-2"
              placeholder="點擊選擇"
              @err="handleError"
            />
          </div>
          <div class="flex flex-nowrap items-center gap-2">
            <q-icon
              name="emoji_objects"
              color="blue-5"
              size="2rem"
            />
            <pin-select
              v-model="ledPins[2]"
              :pins="supportPins"
              class="w-full"
              color="blue-2"
              placeholder="點擊選擇"
              @err="handleError"
            />
          </div>
        </div>
      </transition>
    </div>
  </base-window>
</template>

<script setup lang="ts">
import { computed, getCurrentInstance, ref, watch } from 'vue';
import { PinMode } from '../types';
import { colors } from 'quasar';

import { Pin } from '../common/firmata/response-define';
import { clone, isNil, isTruthy } from 'remeda';
import { storeToRefs } from 'pinia';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import ColorBall from './rgb-led-palette-window-color-ball.vue';

import { useQuasar } from 'quasar';
import { usePinManager } from '../composables/use-pin-manager';
import { promiseTimeout, useArrayEvery, watchThrottled, whenever } from '@vueuse/core';
import { usePortStore } from '../stores/port.store';

const { PWM } = PinMode;
const { hexToRgb } = colors;

interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const $q = useQuasar();
const portStore = usePortStore();
const { transceiver } = storeToRefs(portStore);

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);

const ledPins = ref<(Pin | undefined)[]>(
  [undefined, undefined, undefined]
);
const oldLedPins = ref(clone(ledPins.value));
const isSettingOk = useArrayEvery(ledPins, isTruthy);

watch(ledPins, (pins) => {
  pins.forEach((pin, i) => {
    if (pin) {
      reservePin(pin);
    }

    const oldPin = oldLedPins.value[i];
    if (oldPin) {
      unreservePin(oldPin);
    }
  });

  oldLedPins.value = clone(ledPins.value);
}, {
  deep: true,
});

const {
  createPinList,
  reservePin,
  unreservePin,
} = usePinManager({ windowId });

/** 支援腳位 */
const supportPins = createPinList([PWM]);

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}

/** 設定完成時，初始化所有腳位 */
whenever(isSettingOk, () => {
  ledPins.value.forEach((pin) => {
    if (!pin) return;

    transceiver.value?.addCmd('set-mode', {
      pin: pin.number,
      mode: PinMode.PWM,
    });
  });
})

const colorValue = ref('');
const rgbValue = computed<[number, number, number]>(() => {
  if (colorValue.value === '') {
    return [0, 0, 0];
  }

  const result = hexToRgb(colorValue.value);
  return [result.r, result.g, result.b];
});
watchThrottled(rgbValue, async () => {
  ledPins.value.forEach((pin, i) => {
    if (!pin) return;

    const value = rgbValue.value[i];
    if (isNil(value)) return;

    transceiver.value?.addCmd('set-pwm-value', {
      pin: pin.number,
      value,
    });
  });
}, {
  throttle: 50,
  deep: true,
});

</script>

<style scoped lang="sass">
</style>
