<template>
  <div class=" absolute fit flex-center">
    <!-- 使用 q-menu 提供彈出選單功能-->
    <q-menu
      anchor="center end"
      self="center start"
    >
      <q-color v-model="color" />
    </q-menu>
    <q-knob
      v-model="rgbVal.r"
      color="red-4"
      size="220px"
      :thickness="0.05"
      :angle="0"
      :min="0"
      :max="765"
    />
    <q-knob
      v-model="rgbVal.g"
      color="green-4"
      size="220px"
      :thickness="0.05"
      :angle="120"
      :min="0"
      :max="765"
    />
    <q-knob
      v-model="rgbVal.b"
      color="blue-4"
      size="220px"
      :thickness="0.05"
      :angle="240"
      :min="0"
      :max="765"
    />
    <!-- 綁定 style，變更 background 顏色-->
    <div
      class="color-ball cursor-pointer"
      :style="style"
    />
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { colors } from 'quasar';
import { useVModel } from '@vueuse/core';
const { hexToRgb } = colors;


interface Props {
  modelValue: string;
}
const props = withDefaults(defineProps<Props>(), {});

const emit = defineEmits<{
  (e: 'update:modelValue', value: string): void;
}>();

const color = useVModel(props);

const rgbVal = computed(() => {
  if (color.value === '') {
    return {
      r: 0,
      g: 0,
      b: 0,
    };
  }

  return hexToRgb(color.value);
});

const style = computed(() => ({
  background: color.value,
}));
</script>

<style scoped lang="sass">

.color-ball
  $size: 180px
  width: $size
  height: $size
  box-shadow: 0px 0px 20px rgba(black, 0.1)
  border-radius: 99999px
  transition: background 0s, transform 0.4s
  &:hover
    transition-duration: 0.2s
    transform: scale(1.04)
    transition-timing-function: cubic-bezier(0.385, 1.055, 0.465, 1.190)
  &:active
    transition-duration: 0.2s
    transform: scale(1)
    transition-timing-function: cubic-bezier(0.385, 1.055, 0.535, 1.570)

.q-knob
  position: absolute
  pointer-events: none
  circle
    transition: stroke-dashoffset 0.4s ease 0s, stroke 0.4s ease 0s, color 0.4s !important

</style>
