<template>
  <div class="led-display">
    <div
      class="led a"
      :class="segmentClassMap.a"
    />
    <div
      class="led b"
      :class="segmentClassMap.b"
    />
    <div
      class="led c"
      :class="segmentClassMap.c"
    />
    <div
      class="led d"
      :class="segmentClassMap.d"
    />
    <div
      class="led e"
      :class="segmentClassMap.e"
    />
    <div
      class="led f"
      :class="segmentClassMap.f"
    />
    <div
      class="led g"
      :class="segmentClassMap.g"
    />
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { colors, patterns } from 'quasar';
import { isNil, mapToObj } from 'remeda';

type Segment = 'a' | 'b' | 'c' | 'd' | 'e' | 'f' | 'g';

interface Props {
  value?: number;
  /** token 或色票皆可 */
  color?: string;
}
const props = withDefaults(defineProps<Props>(), {
  value: undefined,
  color: '#555',
});

const { getPaletteColor, hexToRgb } = colors;
const { testPattern } = patterns;

const colorValue = computed(() => {
  if (testPattern.anyColor(props.color)) {
    return props.color;
  }

  return getPaletteColor(props.color);
});

const boxShadow = computed(() => {
  const { r, g, b } = hexToRgb(colorValue.value);
  return `0px 0px 6px rgba(${r}, ${g}, ${b}, 0.4)`;
});

const segmentValueMap: Record<string, Segment[]> = {
  '0': ['a', 'b', 'c', 'd', 'e', 'f'],
  '1': ['b', 'c'],
  '2': ['a', 'b', 'd', 'e', 'g'],
  '3': ['a', 'b', 'c', 'd', 'g'],
  '4': ['b', 'c', 'f', 'g'],
  '5': ['a', 'c', 'd', 'f', 'g'],
  '6': ['a', 'c', 'd', 'e', 'f', 'g'],
  '7': ['a', 'b', 'c'],
  '8': ['a', 'b', 'c', 'd', 'e', 'f', 'g'],
  '9': ['a', 'b', 'c', 'f', 'g']
} as const;
const segmentClassMap = computed<{
  [Key in Segment]?: string;
}>(() => {
  if (isNil(props.value)) {
    return { g: 'show' }
  }

  const value = segmentValueMap[props.value];
  if (!value) {
    return { g: 'show' }
  }

  return mapToObj(value, (key) => [key, 'show']);
});
</script>

<style scoped lang="sass">
.led-display
  width: 1.1em
  height: 2em
  display: grid
  grid-template-columns: repeat(5, 1fr)
  grid-template-rows: repeat(9, 1fr)
  gap: 0px
  grid-auto-flow: row
  grid-template-areas:  ". a a a ."  "f . . . b"  "f . . . b"  "f . . . b"  ". g g g ."  "e . . . c"  "e . . . c"  "e . . . c"  ". d d d ."

.led
  position: relative
  background: white
  border-radius: 9999px
  box-shadow: v-bind(boxShadow)
  &::after
    content: ''
    position: absolute
    width: 100%
    height: 100%
    background: v-bind(colorValue)
    scale: 0
    transition-duration: 0.3s
    transition-timing-function: cubic-bezier(0.485, -0.130, 1.000, -0.480)
  &.show
    &::after
      border-radius: 9999px
      scale: 1
      transition-timing-function: cubic-bezier(0, 1.65, 0.475, 1.155)

$delay-offset: 0.05s
$segments: a, b, c, d, e, f, g
@for $i from 1 through length($segments) 
  .#{nth($segments, $i)} 
    grid-area: nth($segments, $i)
    &::after 
      transition-delay: $delay-offset * ($i - 1)
</style>
