<template>
  <q-dialog
    ref="dialogRef"
    :persistent="isPersistent"
    @hide="onDialogHide"
    @shake="handleShake()"
  >
    <q-card
      v-if="notSupportSerialApi"
      class="!rounded-2xl"
    >
      <q-card-section class="p-8">
        <div class="text-base text-negative text-center">
          <help-icon
            size="1.4rem"
            url="https://codfish-210716.notion.site/2f896774ea2f4742af974c753f947bd4?pvs=4"
          />
          瀏覽器不支援 Web Serial API，請改用支援此 API 之瀏覽器（推薦使用 Chrome）
        </div>
      </q-card-section>
    </q-card>

    <q-card
      v-else
      class="!rounded-2xl min-w-[450px]"
    >
      <q-card-section>
        <q-list>
          <q-item class=" rounded">
            <q-item-section>
              <q-item-label class=" text-lg font-semibold text-negative">
                <help-icon
                  size="1.4rem"
                  color="red-3"
                  url="https://codfish-210716.notion.site/MCU-Windows-2f896774ea2f4742af974c753f947bd4?pvs=25#9fa16cf8892c4e31827c6d1eb6a79be7"
                />
                請更換 Firmata 韌體！
              </q-item-label>

              <q-item-label
                caption
                class=" !leading-5 text-sm whitespace-pre-line"
              >
                {{
                  [
                    '從 v2.2.0 版開始，Firmata 韌體請改用 ConfigurableFirmata，而非 Arduino 內建的 StandardFirmataPlus。',
                    '',
                    '請記得更新韌體，StandardFirmataPlus 會無法成功連線喔。 (๑•́ ₃ •̀๑)',
                  ].join('\n')
                }}
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>

      <q-separator inset />

      <q-card-section>
        <q-list>
          <q-item-label header>
            <help-icon
              size="1.4rem"
              url="https://codfish-210716.notion.site/2f896774ea2f4742af974c753f947bd4?pvs=4"
            />
            系統設定
          </q-item-label>
          <q-item
            class="!rounded-2xl"
            clickable
            @click="requestPort()"
          >
            <q-item-section avatar>
              <q-icon
                name="developer_board"
                color="grey-7"
              />
            </q-item-section>
            <q-item-section>
              <q-item-label>選擇 COM Port</q-item-label>
              <q-item-label caption>
                點擊選擇指定 COM Port
              </q-item-label>
            </q-item-section>
          </q-item>
        </q-list>
      </q-card-section>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';

import HelpIcon from '../components/help-icon.vue';

import { useDialogPluginComponent, useQuasar } from 'quasar';
import { usePortStore } from '../stores/port.store';
import { useMainStore } from '../stores/main.store';

defineEmits([
  ...useDialogPluginComponent.emits
])

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent();
const $q = useQuasar();
const portStore = usePortStore();
const mainStore = useMainStore();


const notSupportSerialApi = computed(
  () => !navigator?.serial
);

const errorMessage = computed(() => {
  if (notSupportSerialApi.value) {
    return '瀏覽器不支援 Web Serial API';
  }

  if (!portStore.port) {
    return '請選擇 COM Port';
  }

  return undefined;
});

const isPersistent = computed(() => !!errorMessage.value);
watch(isPersistent, (value) => {
  if (value) return;

  onDialogOK();
});

function handleShake() {
  mainStore.checkSingletonWeb();

  // 沒有錯誤訊息，不產生提示框
  if (!errorMessage.value) return;

  // 透過提示框呈現 errorMessage 文字
  $q.notify({
    type: 'negative',
    message: errorMessage.value,
  });
}

async function requestPort() {
  mainStore.checkSingletonWeb();

  /** 請求連線 Port
    * https://developer.mozilla.org/en-US/docs/Web/API/Web_Serial_API#checking_for_available_ports
    */

  try {
    const port = await navigator.serial.requestPort();

    // 儲存 Port
    portStore.setPort(port);
  } catch (error) {
    // 使用者取消選擇不彈出錯誤提示
    if (`${error}`.includes('No port selected by the user')) {
      return;
    }

    console.error(`[ requestPort ] err : `, error);
    $q.notify({
      type: 'negative',
      message: `選擇 COM Port 發生錯誤 : ${error}`,
    });
    return;
  }
}
</script>

<style scoped lang="sass">
</style>
