<template>
  <base-window
    :id="windowId"
    :init-position="props.initPosition"
    title="溫濕度計"
    class=" w-[40rem] h-[30rem]"
    header-icon-color="lime-4"
    help-url="https://codfish-210716.notion.site/MCU-Windows-1ac49d10fa9b415b8dee41bb1e61e5a8?pvs=4"
  >
    <digital-display
      :signal-pin="signalPin"
      :dht-model="dhtModel"
    />

    <!-- 設定欄位-->
    <transition name="fade-up">
      <div
        v-if="!isSettingOk"
        class=" setting-form absolute inset-0 flex-center"
      >
        <div class=" flex-col rounded-xl shadow-md p-6 gap-4">
          <div class="flex items-center flex-nowrap gap-3">
            <q-icon
              class=""
              name="gamepad"
              size="20px"
            />
            <div class="text-18px font-700">
              設定感測器
            </div>
          </div>

          <div class="flex items-center flex-nowrap gap-3">
            <div class=" whitespace-nowrap">
              型號
            </div>
            <q-select
              v-model="dhtModel"
              :options="dhtOptions"
              class="w-full"
              outlined
              dense
              rounded
              color="lime-4"
              emit-value
              map-options
            />
          </div>

          <div class="flex items-center flex-nowrap gap-3">
            <div class=" whitespace-nowrap">
              訊號
            </div>
            <pin-select
              v-model="signalPin"
              class="w-full"
              :pins="supportPins"
              color="light-green-4"
              placeholder="點擊選擇"
              @err="handleError"
            />
          </div>
        </div>
      </div>
    </transition>
  </base-window>
</template>

<script setup lang="ts">
import { getCurrentInstance, ref, watch } from 'vue';
import { PinMode } from '../types';
import { Pin } from '../common/firmata/response-define';
import { isTruthy } from 'remeda';

import BaseWindow from './base-window.vue';
import PinSelect from './pin-select.vue';
import DigitalDisplay from './thermo-hygrometer-window/digital-display.vue';

import { useArrayEvery } from '@vueuse/core';
import { QSelectOption, useQuasar } from 'quasar';
import { usePinManager } from '../composables/use-pin-manager';


interface Props {
  /** 視窗起始位置 */
  initPosition?: {
    x: number;
    y: number;
  };
  id?: string;
}
const props = withDefaults(defineProps<Props>(), {
  initPosition: () => ({ x: 0, y: 0 }),
  id: undefined,
});

const windowId = props.id ?? String(getCurrentInstance()?.vnode.key);
const $q = useQuasar();

const dhtModel = ref();
const dhtOptions: QSelectOption<number>[] = [
  {
    label: 'DHT11',
    value: 0x01,
  },
  {
    label: 'DHT22',
    value: 0x02,
  },
]

const signalPin = ref<Pin>();
watch(signalPin, (newPin, oldPin) => {
  if (newPin) reservePin(newPin);
  if (oldPin) unreservePin(oldPin);
})

const isSettingOk = useArrayEvery([dhtModel, signalPin], isTruthy);

const {
  createPinList,
  reservePin,
  unreservePin,
} = usePinManager({ windowId });

/** 支援腳位 */
const supportPins = createPinList([PinMode.DHT]);

function handleError(message: string) {
  $q.notify({
    type: 'negative',
    message,
  });
}
</script>

<style scoped lang="sass">
.setting-form
  background: rgba(white, 0.7)
  backdrop-filter: blur(4px)
</style>
