<template>
  <transition-group
    :name="name"
    :tag="tag"
    @before-leave="handleBeforeLeave"
  >
    <slot />
  </transition-group>
</template>

<script setup lang="ts">
import { ref } from 'vue';

interface Props {
  name?: string;
  tag?: string;
}
const props = withDefaults(defineProps<Props>(), {
  name: undefined,
  tag: undefined,
});

function handleBeforeLeave(el: Element) {
  const { marginLeft, marginTop, width, height } = window.getComputedStyle(
    el
  );
  if (!(el instanceof HTMLElement)) return;

  el.style.left = `${el.offsetLeft - parseFloat(marginLeft)}px`;
  el.style.top = `${el.offsetTop - parseFloat(marginTop)}px`;
  el.style.width = width;
  el.style.height = height;
}
</script>

<style scoped lang="sass">
</style>
