<!-- eslint-disable vue/no-v-html -->
<template>
  <q-dialog
    ref="dialogRef"
    persistent
    @hide="onDialogHide"
  >
    <q-card class=" !rounded-3xl">
      <q-card-section class="bg-teal-5 p-8 gradient-effect">
        <div class=" text-2xl font-bold text-white">
          🎉 v2.2 版本更新！
        </div>
      </q-card-section>

      <q-card-section class="p-8">
        <q-list>
          <template
            v-for="section, i in sections"
            :key="i"
          >
            <q-separator
              v-if="section.type === 'separator'"
              spaced
            />
            <q-item-label
              v-else-if="section.type === 'label'"
              header
            >
              {{ section.value }}
            </q-item-label>

            <q-item
              v-else
              class=" rounded"
              :clickable="!!section.onClick"
              @click="section.onClick"
            >
              <q-item-section avatar>
                <q-icon
                  color="grey"
                  :name="section.icon || 'chat'"
                />
              </q-item-section>

              <q-item-section>
                <q-item-label class=" text-lg font-semibold text-teal-9 gradient-effect">
                  <span :class="section.labelClass">
                    {{ section.label }}
                  </span>
                </q-item-label>

                <q-item-label
                  caption
                  class=" !leading-5 text-sm whitespace-pre-line"
                >
                  {{ section.caption }}
                </q-item-label>
              </q-item-section>
            </q-item>
          </template>
        </q-list>
      </q-card-section>

      <q-card-actions class="p-4">
        <q-btn
          label="關閉"
          unelevated
          rounded
          color="teal-5"
          class="w-full gradient-effect"
          @click="onDialogOK()"
        />
      </q-card-actions>
    </q-card>
  </q-dialog>
</template>

<script setup lang="ts">
import { useSessionStorage } from '@vueuse/core';
import { useDialogPluginComponent } from 'quasar';
import { onMounted } from 'vue';

type Section = {
  type: 'item';
  icon?: string;
  label: string;
  labelClass?: string;
  caption?: string;
  side?: string;
  onClick?: () => void;
} | {
  type: 'separator';
} | {
  type: 'label';
  value: string;
}

const { dialogRef, onDialogHide, onDialogOK, onDialogCancel } = useDialogPluginComponent<string>()

const emit = defineEmits({
  ...useDialogPluginComponent.emitsObject
});

const haveRead = useSessionStorage('have-read-update-announcement', false);

onMounted(() => {
  if (haveRead.value) {
    onDialogHide();
  }
  haveRead.value = true;
});

const sections: Section[] = [
  {
    type: 'item',
    icon: 'warning',
    label: '請更換 Firmata 韌體！',
    labelClass: 'text-negative',
    caption: [
      '從 v2.2.0 版開始，Firmata 韌體請改用 ConfigurableFirmata，而非 Arduino 內建的 StandardFirmataPlus。',
      '',
      'ConfigurableFirmata 不但功能更多，而且還支援更多開發版喔！( •̀ ω •́ )✧',
      '（點此開啟燒入說明）',
    ].join('\n'),
    onClick() {
      window.open(
        'https://codfish-210716.notion.site/MCU-Windows-2f896774ea2f4742af974c753f947bd4?pvs=25#9fa16cf8892c4e31827c6d1eb6a79be7',
        '_bank'
      );
    }
  },
  {
    type: 'separator',
  },
  {
    type: 'item',
    icon: 'password',
    label: '摩斯電碼發報器登場！( ‧ω‧)ノ╰(‧ω‧ )',
    caption: [
      '工具視窗新增「摩斯電碼發報器」！',
      '體驗一下透過「點」和「劃」進行通訊的獨特魅力吧！◝(≧∀≦)◟',
    ].join('\n'),
    onClick() {
      window.open(
        'https://codfish-210716.notion.site/MCU-Windows-677094c4455142fcb0dd436f24594855?pvs=4',
        '_bank'
      );
    }
  },
  {
    type: 'item',
    icon: 'thermostat_auto',
    label: '溫溼度計來了！',
    caption: [
      '工具視窗新增「溫溼度計」！',
      '透過 DHT 系列感測器量量看目前的溫度與濕度吧。ԅ(´∀` ԅ)',
    ].join('\n'),
    onClick() {
      window.open(
        'https://codfish-210716.notion.site/MCU-Windows-1ac49d10fa9b415b8dee41bb1e61e5a8?pvs=4',
        '_bank'
      );
    }
  },
]
</script>

<style scoped lang="sass">
</style>
