<template>
  <q-menu
    :context-menu="props.contextMenu"
    class="rounded-2xl"
  >
    <q-list class="w-[18rem]">
      <template v-for="item, i in list">
        <q-item
          v-if="!('type' in item)"
          :key="item.windowName"
          v-close-popup="!item.subList"
          clickable
          @click="handleClick(item)"
        >
          <q-item-section
            avatar
            class=" flex-center"
          >
            <q-icon
              :name="item.icon"
              color="blue-grey-4"
            />
          </q-item-section>

          <q-item-section>
            {{ item.label }}
          </q-item-section>

          <q-item-label
            v-if="item.caption"
            caption
          >
            {{ item.caption }}
          </q-item-label>

          <q-item-section
            v-if="item.helpUrl"
            side
          >
            <help-icon
              :url="item.helpUrl"
              class=" opacity-40"
            />
          </q-item-section>

          <!-- 子 menu -->
          <template v-if="item.subList">
            <q-item-section side>
              <q-icon name="keyboard_arrow_right" />
            </q-item-section>
            <window-menu
              :list="item.subList"
              :context-menu="false"
              anchor="top end"
              self="top start"
            />
          </template>
        </q-item>

        <q-separator
          v-else-if="item.type === 'separator'"
          :key="i"
        />

        <q-item-label
          v-else-if="item.type === 'header'"
          :key="i + 'header'"
          class="pt-3 pb-1 pl-6 text-xs text-blue-grey-8"
        >
          {{ item.value }}
        </q-item-label>
      </template>
    </q-list>
  </q-menu>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { WindowName } from '../types';

import WindowMenu from './window-menu.vue';
import HelpIcon from './help-icon.vue';

import { useWindowStore } from '../stores/window.store';

const windowStore = useWindowStore();

type Item = {
  icon: string;
  label: string;
  caption?: string;
  windowName?: WindowName;
  helpUrl?: string;
  url?: string;
  subList?: Item[];
  onClick?: () => void;
} | {
  type: 'separator' | 'header',
  value?: string;
}

interface Props {
  contextMenu?: boolean;
  list: Item[];
}
const props = withDefaults(defineProps<Props>(), {
  contextMenu: false,
});

function handleClick(item: Item) {
  if ('type' in item) {
    return;
  }

  if (item.windowName) {
    windowStore.add(item.windowName);
  }

  if (item.url) {
    window.open(item.url, '_bank');
  }

  item.onClick?.();
}
</script>

<style scoped lang="sass">
</style>
