<template>
  <div class="absolute bottom-2 right-3 text-right text-gray-400 tracking-widest font-orbitron">
    {{ boardInfo }}
  </div>

  <!-- 背景裝飾 -->
  <q-img
    src="./assets/bg.webp"
    class=" absolute w-[30vmin] left-0 bottom-0 opacity-10"
  />
  <q-img
    src="./assets/bg.webp"
    class=" absolute w-[30vmin] right-0 top-0 opacity-10 rotate-180"
  />

  <!-- 提示文字 -->
  <div class=" absolute inset-0 flex-center ">
    <transition name="fade-up">
      <div
        v-if="noWindow"
        class="text-2xl font-bold opacity-20"
      >
        開啟右鍵選單，新增第一個視窗吧！( ´ ▽ ` )ﾉ
      </div>
    </transition>
  </div>

  <!-- 所有視窗 -->
  <transition-group
    name="fade-up"
    tag="div"
    class="absolute inset-0"
    @click="handleClick"
  >
    <help-icon
      url="https://codfish-210716.notion.site/26c3ad01e496462c92095ad73cbeb918?pvs=4"
      class=" absolute p-4"
      color="blue-grey-2"
      size="3rem"
    />

    <component
      :is="window.component"
      v-for="[key, window], i in windowStore.map"
      :key="key"
      :init-position="{ x: (i + 1) * 30, y: (i + 1) * 30 }"
    />
  </transition-group>

  <!-- 右鍵選單-->
  <window-menu
    :list="list"
    context-menu
  />
</template>

<script setup lang="ts">
import { computed, watch } from 'vue';
import { delay } from './common/utils';
import { ExtractComponentProps } from './types';

import SystemSettingDialog from './components/system-setting-dialog.vue';
import HelpIcon from './components/help-icon.vue';
import WindowMenu from './components/window-menu.vue';
import UpdateAnnouncementDialog from './components/update-announcement-dialog.vue';

import { useMeta, useQuasar } from 'quasar';
import { usePortStore } from './stores/port.store';
import { useBoardStore } from './stores/board.store';
import { useWindowStore } from './stores/window.store';
import { useMainStore } from './stores/main.store';
import { openBaseDialog } from './common/utils-quasar';


useMeta(() => ({
  title: `MCU Windows`,
  titleTemplate: (title) => `${title} v${import.meta.env.PACKAGE_VERSION}`,
}));

const $q = useQuasar();
const portStore = usePortStore();
const boardStore = useBoardStore();
const windowStore = useWindowStore();
const mainStore = useMainStore();

$q.iconMapFn = (name) => {
  const icon = name.includes('sym_') ? name : `sym_r_${name}`;
  return { icon };
}

const boardInfo = computed(() => {
  if (!boardStore.version) {
    return 'unknown';
  }

  return `${boardStore.firmwareName} - v${boardStore.version}`;
});

const list: ExtractComponentProps<typeof WindowMenu>['list'] = [
  {
    type: 'header',
    value: '各類視窗'
  },
  {
    icon: 'api',
    label: '訊號視窗',
    subList: [
      {
        icon: 'toggle_on',
        label: '數位 I/O',
        windowName: 'digital-io',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-f80b947c0f694cb38ae6247336cd3977?pvs=4',
      },
      {
        icon: 'wifi_channel',
        label: '類比輸入',
        windowName: 'analog-input',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-c25c2c49a57a4493b61aa73df071f577?pvs=4',
      },
      {
        icon: 'waves',
        label: 'PWM 輸出',
        windowName: 'pwm-output',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-PWM-2d2be4e759e9469c9ffe6b05f9aa134f?pvs=4',
      },
    ],
  },
  {
    icon: 'construction',
    label: '工具視窗',
    subList: [
      {
        icon: 'emoji_objects',
        label: 'RGB 調色盤',
        windowName: 'rgb-led-palette',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-RGB-ade51e67b3a943269ba297c0a3e892d0?pvs=4',
      },
      {
        icon: 'password',
        label: '摩斯電碼發報器',
        windowName: 'morse-code-transmitter',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-677094c4455142fcb0dd436f24594855?pvs=4',
      },
      {
        icon: 'thermostat_auto',
        label: '溫濕度計',
        windowName: 'thermo-hygrometer',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-1ac49d10fa9b415b8dee41bb1e61e5a8?pvs=4',
      },
    ],
  },
  {
    icon: 'sports_esports',
    label: '遊戲視窗',
    subList: [
      {
        icon: 'wifi_off',
        label: '跑跑小恐龍',
        windowName: 'google-dino',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-13e6e7898da34935b066e715ebe54580?pvs=4',
      },
      {
        icon: 'pets',
        label: '貓狗大戰',
        windowName: 'cat-vs-dog',
        helpUrl: 'https://codfish-210716.notion.site/MCU-Windows-49c596d8830b4e269cb3fef4f5e0d36e?pvs=4',
      },
    ],
  },

  { type: 'separator' },
  {
    icon: 'delete_sweep',
    label: '刪除所有視窗',
    onClick() {
      if (windowStore.map.size === 0) {
        $q.notify({
          type: 'info',
          message: '所以我說那個視窗呢？ლ（´口`ლ）',
        });
        return;
      }

      openBaseDialog({
        message: '確定刪除所有視窗？'
      }).onOk((result) => {
        if (result !== 'y') return;

        windowStore.map.forEach(({ id }) => {
          windowStore.remove(id);
        });
      });
    },
  },


  { type: 'separator' },
  {
    type: 'header',
    value: '更多好康'
  },
  {
    icon: 'smart_display',
    label: '看看實際範例影片',
    url: 'https://youtu.be/OpayalfQ124?si=Ug1bDjFOLy4CKsr7',
  },
  {
    icon: 'code',
    label: '瞧瞧原始碼（GitLab）',
    url: 'https://gitlab.com/side_project/mcu-windows',
  },
  {
    icon: 'shopping_cart',
    label: '找找零件',
    url: 'https://www.ruten.com.tw/item/show?22245679885806',
  },
  {
    icon: 'emoji_events',
    label: '圍觀鐵人賽',
    url: 'https://ithelp.ithome.com.tw/users/20140213/ironman/4765',
  },
  {
    icon: 'auto_stories',
    label: '前往購書',
    url: 'https://www.books.com.tw/products/0010942459',
  },
  {
    icon: 'set_meal',
    label: '關於作者',
    url: 'https://www.linkedin.com/in/shih-chen-lin-codfish',
  },

  // { type: 'separator' },
  // {
  //   icon: 'label',
  //   label: '取得版本',
  //   onClick() {
  //     portStore.transceiver?.addCmd('query-firmware-name');
  //   }
  // },
  // {
  //   icon: 'label',
  //   label: '取得版本',
  //   onClick() {
  //     portStore.transceiver?.addCmd('query-capability');
  //   }
  // },
]

const noWindow = computed(() => windowStore.map.size === 0);

// 偵測 transceiver 變化
watch(() => portStore.transceiver, (transceiver) => {
  // transceiver 不存在，結束
  if (!transceiver) return;

  const dismiss = $q.notify({
    type: 'ongoing',
    message: '等待 Board 啟動...',
  });

  const timeout = setTimeout(() => {
    dismiss();

    $q.notify({
      type: 'negative',
      message: '連線逾時，請確認 COM 正確且沒被占用或 MCU 已燒入正確的 Firmata 韌體。'
    });
  }, 6000);



  // 建立監聽事件

  // 忽略第一次 firmware-name 資訊，因為包含非韌體名稱以外訊息
  transceiver.once('firmware-name', async () => {
    dismiss();
    clearTimeout(timeout);

    transceiver.once('firmware-name', (data) => {
      const { version, firmwareName } = data;

      $q.notify({
        type: 'positive',
        message: `初始化成功，韌體名稱「${firmwareName}」，版本：「${version}」`,
      });

      boardStore.setInfo(data);
    });

    transceiver.addCmd('query-firmware-name');
    await delay(100);
    transceiver.addCmd('query-capability');
    await delay(100);
    transceiver.addCmd('query-analog-mapping');
  });

  transceiver.on('capability', (data) => {
    boardStore.setPins(data.pins);
  });

  transceiver.on('analog-mapping', (data) => {
    boardStore.setAnalogPinMap(data.analogPinMap);
  });

  transceiver.on('undefined-response', (data) => {
    console.warn(`[ transceiver ] undefined-response : `, data);
  });

  transceiver.on('message', ({ text }) => {
    console.info(`[ transceiver ] message : `, text);
  });

  transceiver.on('error', (error) => {
    console.error(`[ transceiver ] error : `, error);

    $q.notify({
      type: 'negative',
      message: `transceiver 發生錯誤 : ${error}`,
    });
  });
});

function init() {
  if (!portStore.port) {
    $q.dialog({
      component: SystemSettingDialog,
    })
  }

  // windowStore.add('thermo-hygrometer')

  $q.dialog({
    component: UpdateAnnouncementDialog,
  })
}
init();

function handleClick() {
  windowStore.setFocus();
  mainStore.checkSingletonWeb();
}

// 嘗試捕捉 Web API 錯誤
window.onerror = (error) => {
  $q.notify({
    type: 'negative',
    message: `Web Serial API 錯誤：${error}`,
  });
}
window.addEventListener('unhandledrejection', (event) => {
  $q.notify({
    type: 'negative',
    message: `Web Serial API 錯誤：${event.reason}`,
  });
});
</script>

<style lang="sass">
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap')

html, body, #app
  width: 100%
  height: 100%
  padding: 0
  margin: 0
  font-family: 'Noto Sans', sans-serif

#app
  display: flex
  flex-direction: column
</style>
