<template>
  <div class=" relative flex-center border border-dashed rounded h-14 text-xl">
    <transition-group-flex name="chars">
      <span
        v-for="item in displayChars"
        :key="item.char + item.index"
        :class="item.classes"
        class=" duration-500 px-[1px] py-1 flex-center rounded-lg min-h-[2rem]"
      >
        {{ item.char }}
      </span>
    </transition-group-flex>
  </div>
</template>

<script setup lang="ts">
import { computed, ref, watch } from 'vue';
import { morseCodeMap } from './morse-code';
import { clamp, clone, flattenDeep, join, map, omit, pipe } from 'remeda';
import { Pin } from '../../common/firmata/response-define';
import { PinMode } from '../../types';
import { storeToRefs } from 'pinia';

import TransitionGroupFlex from '../transition-group-flex.vue';

import { useIntervalFn, useVModels, whenever } from '@vueuse/core';
import { usePortStore } from '../../stores/port.store';

interface Signal {
  /** 原始字符 */
  char: string;
  /** 點（·）或劃（-） */
  codeChar: string;
  /** 表示高低電位 */
  value: boolean;
  /** 對應原始文字的 index */
  charIndex: number;
}

interface Props {
  text?: string;
  currentChar?: string;
  cursorIndex?: number;
  playing: boolean;
  unitDuration?: number;
  outputPin?: Pin;
}
const props = withDefaults(defineProps<Props>(), {
  text: '',
  currentChar: undefined,
  cursorIndex: 0,
  unitDuration: 500,
  outputPin: undefined,
});

const emit = defineEmits<{
  (e: 'update:currentChar', value: string): void;
  (e: 'update:cursorIndex', value: number): void;
}>();

const portStore = usePortStore();
const { transceiver } = storeToRefs(portStore);

whenever(() => props.outputPin, (pin) => {
  transceiver.value?.addCmd('set-mode', {
    mode: PinMode.DIGITAL_OUTPUT,
    pin: pin.number,
  });
})

const {
  cursorIndex, currentChar,
} = useVModels(props, emit);

const chars = computed(() => pipe(
  props.text,
  (text) => text.split(''),
  map.indexed((char, i) => {
    const code = morseCodeMap[char.toLowerCase()];

    const classes = pipe([],
      (result: string[]) => {
        if (cursorIndex.value === i) {
          result.push('bg-lime-7 text-white');
        }

        if (char === ' ') {
          result.push('px-[4px]');
          return result;
        }

        if (!code) {
          result.push('opacity-10');
        }

        return result;
      },
      join(' '),
    );

    return {
      char,
      code,
      classes,
      index: i,
    }
  }),
));
/** 避免文字過多，只顯示 cursor 位置前後 PER_CHAR 個 char */
const PER_CHAR = 25;
const displayChars = computed(() => {
  const index = cursorIndex.value;
  const clampIndex = clamp({ max: chars.value.length, min: 0 });

  const start = Math.min(index, clampIndex(index - PER_CHAR));
  const end = Math.min(chars.value.length, clampIndex(index + PER_CHAR))

  return pipe(
    chars.value,
    clone,
    (data) => data.slice(start, end)
  );
});

interface CreateSignalsParam {
  char: string;
  codeChar: string;
  values: boolean[];
  charIndex: number;
}
function createSignals(param: CreateSignalsParam) {
  return pipe(param.values,
    map((value) => ({
      ...omit(param, ['values']),
      value
    })),
  );
}

/** 將 chars 轉換成實際數位訊號 */
const signals = computed<Signal[]>(() => pipe(
  chars.value,
  map.indexed((charItem, index) => {
    /** 空格，7 個單位，需要扣掉前一個間隔，所以為 6 單位 */
    if (!charItem.code) {
      return createSignals({
        char: charItem.char,
        codeChar: '',
        values: Array(6).fill(false),
        charIndex: index,
      });
    }

    if (!charItem.code) {
      return [];
    }

    return pipe(charItem.code.split(''),
      map((codeChar): Signal[] => {
        /** 點 */
        if (codeChar === '·') {
          return createSignals({
            char: charItem.char,
            codeChar,
            values: [true, false],
            charIndex: index,
          });
        }

        /** 劃 */
        return createSignals({
          char: charItem.char,
          codeChar,
          values: [...Array(4).fill(true), false],
          charIndex: index,
        });
      })
    );
  }),
  flattenDeep(),
));
const signalIndex = ref(0);
watch(() => signals.value.length, () => {
  signalIndex.value = 0;
});

/** 發送訊號 */
const { pause, resume } = useIntervalFn(() => {
  if (signalIndex.value >= signals.value.length) {
    signalIndex.value = 0;
  }

  const signal = signals.value[signalIndex.value];
  if (!signal) return;

  if (props.outputPin?.number) {
    transceiver.value?.addCmd('set-digital-pin-value', {
      pin: props.outputPin.number,
      value: signal.value,
    });
  }

  cursorIndex.value = signal.charIndex;
  currentChar.value = signal.char;

  signalIndex.value++;
},
  () => props.unitDuration,
  {
    immediate: false,
  },
);

watch(() => props.playing, (value) => {
  if (value) {
    if (props.outputPin?.number) {
      transceiver.value?.addCmd('set-digital-pin-value', {
        pin: props.outputPin.number,
        value: 0,
      });
    }
    signalIndex.value = 0;

    resume()
  } else {
    pause()
  }
});
</script>

<style scoped lang="sass">
.chars
  &-enter-active, &-leave-active, &-move
    transition-duration: 0.4s
    pointer-events: none
  &-enter-active
    transition-timing-function: cubic-bezier(0.2, 1.335, 0.305, 1)
  &-enter-from, &-leave-to
    opacity: 0 !important
  &-enter-from
    rotate: 45deg
    translate: 2rem 0 !important
  &-leave-to
    translate: -2rem 0 !important
  &-leave-active 
    position: absolute !important
</style>
