<template>
  <div class="flex gap-6 flex-center ">
    <transition
      name="fade-right"
      mode="out-in"
    >
      <div
        :key="char"
        class=" text-[4rem] flex-1 text-right duration-200"
      >
        {{ char }}
      </div>
    </transition>

    =

    <transition
      name="fade-left"
      mode="out-in"
    >
      <div
        :key="code"
        class="text-[4rem] flex-1 duration-200"
      >
        {{ code }}
      </div>
    </transition>
  </div>
</template>

<script setup lang="ts">
import { computed, ref } from 'vue';
import { morseCodeMap } from './morse-code';

interface Props {
  character?: string;
}
const props = withDefaults(defineProps<Props>(), {
  character: undefined,
});

const char = computed(() => {
  if (props.character === ' ') {
    return '⎵';
  }

  return props.character ? props.character : '-';
});

const code = computed(() => {
  if (props.character === ' ') {
    return '  '
  }

  const char = (props.character ?? '').toLowerCase();
  return morseCodeMap[char] ?? '-';
});
</script>

<style scoped lang="sass">
</style>
