<template>
  <div class="flex-col p-10 justify-between items-center">
    <morse-encoder
      :character="currentChar"
      class="w-full"
    />

    <code-timeline
      v-model:cursor-index="cursorIndex"
      v-model:current-char="currentChar"
      :playing="isPlaying"
      :text="text"
      :unit-duration="unitDuration"
      :output-pin="props.outputPin"
      class=" w-full"
    />

    <q-input
      v-model="text"
      outlined
      color="lime-4"
      class="w-full"
      placeholder="輸入想要發送的文字"
    />

    <div class="flex justify-center gap-4 w-full">
      <q-btn
        rounded
        outline
        :icon="isPlaying ? 'pause' : 'play_arrow'"
        color="grey-9"
        @click="play()"
      />
      <q-btn
        rounded
        outline
        icon="stop"
        color="grey-9"
        @click="stop"
      />

      <q-field
        outlined
        rounded
        color="lime-4"
        class="flex-1"
      >
        <template #control>
          <q-slider
            v-model="unitDuration"
            :min="50"
            :max="1000"
            color="grey-9"
            class=" px-3"
            label
            :label-value="`${unitDuration} ms`"
          />
        </template>

        <q-tooltip class=" text-base">
          單位時長，也就是「點（dit）」的持續時間
        </q-tooltip>
      </q-field>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref } from 'vue';
import { Pin } from '../../common/firmata/response-define';

import MorseEncoder from './morse-encoder.vue';
import CodeTimeline from './code-timeline.vue';

import { useToggle } from '@vueuse/core';
import { useQuasar } from 'quasar';

interface Props {
  outputPin?: Pin;
}
const props = withDefaults(defineProps<Props>(), {
  outputPin: undefined,
});

const $q = useQuasar();
const text = ref('');
const currentChar = ref('');
const cursorIndex = ref(0);

const [isPlaying, togglePlaying] = useToggle(false);
function play() {
  if (!isPlaying.value && !text.value) {
    $q.notify({
      type: 'negative',
      message: '請輸入文字',
    });
    return;
  }

  togglePlaying();
}
function stop() {
  togglePlaying(false);
  cursorIndex.value = 0;
}

/** 單位時長（ms） */
const unitDuration = ref(100);
</script>

<style scoped lang="sass">
</style>
